html, body {
  min-height: 100%;
}

body {
  display: flex;
  margin: 0;
  }

 .frog {
  	
  }

  .lillypad {
  	
  }

  .flex {
  	display: flex;
  	height: 300px;
  }

  .child {
  width: 100px;  
  height: 100px; 
  margin: auto;